#tetris {
  border: solid 2px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: "Press Start 2P", cursive;
  color: white;
  height: 100vh;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
}

.game-title {
  margin: 8px 0px 8px 8px;
}

.lines {
  margin: 8px 0px 8px 17px;
}